<%- include("templates/cabecera") %>

<body>
    <form id="form1" runat="server">
        <%- include("templates/nav") %>
        <header>
            <section>
                <article>
                    <div id="titulo_prin">
                        <h1>HOJA DE VIDA</h1>
                    </div>
                </article>
                <article>
                    <div id="centrar_img">
                        <img id="img_hojavi" src="img/foto2.jpg" width="180" height="180">
                    </div>
                </article>
            </section>
        </header>
        <article id="contenedor3">
            <div id="tabla">
                <h6> CONTACTO </h6>
                <p id="texto_cuadro"> <b>Telefono :</b> 3209931512 </p>
                <p id="texto_cuadro"> <b>Email: </b> jtacuma123@gmail.com</p>
                <p id="texto_cuadro"> <b>Correo Institucional: </b> jetacuma3@misena.edu.co</p>
                <p id="texto_cuadro"> <b>Direccion: </b> calle 36 f sur 11 a 45</p>
            </div>
        </article>
    </section>
    <%- include("templates/descripcion") %>
    </form>
</body>

</html>
