<%- include("templates/cabecera") %>

<body>
    <form id="form1" runat="server">
        <%- include("templates/nav") %>
        <header>
            <section>
                <article>
                    <div id="titulo_prin">
                        <h1>HOJA DE VIDA</h1>
                    </div>
                </article>
                <article>
                    <div id="centrar_img">
                        <img id="img_hojavi" src="img/foto2.jpg" width="180" height="180">
                    </div>
                </article>
            </section>
        </header>

        <article id="contenedor3">
            <div id="tabla">
                <h6> DATOS PERSONALES </h6>
                <p id="texto_cuadro"> <b>Nombre: </b> Jorge Eduardo Tacuma Prieto</p>
                <p id="texto_cuadro"> <b>Cel:</b> 3209931512</p>
                <p id="texto_cuadro"> <b>Cc: </b> 1011080183</p>
                <p id="texto_cuadro"> <b>Correo: </b> jtacuma123@gmail.com</p>
                <p id="texto_cuadro"> <b>Estado Civil: </b> Soltero</p>
            </div>
        </article>

        <%- include("templates/descripcion") %>
        </section>
    </form>
</body>

</html>