<section>
    <article id="contenedor2">
        <div id="cont_descrip">
            <h4 id="titu_descrp"> <b> <%= titulo %> </b> </h4>
            <p id="descrip"> <%= descripcion %> </p>
        </div>
    </article>
</section>