#agrupar {
    width: 1200px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-size: 300%;
    font-family: verdana;
    font-weight: 100;
    color: rgb(148, 144, 144);
}

#titulo_prin {
    text-align: center;
    padding: 5px;
}

#img_hojavi {
    border-radius: 50%;
}

#pos_img {
    padding-top: 60px;
    padding-left: 50px;
}

#centrar_img {
    text-align: center;
}

#titulo2 {
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    padding-left: 180px;
}

/*El main*/
h6 {
    text-align: center;
}

#contenedor {

    height: 260px;
    display: flex;
    align-items: center;
    justify-content: right;
}

#tabla {
    color: rgb(109, 108, 108);
    font-family: verdana;
    font-size: 80%;
    text-align: left;
    padding: 30px;
}

#texto_cuadro {
    border-width: 1px;
    border-style: solid;
    padding: 5px;
}

#texto_cuadro1 {
    padding: 6px;
    color: white;
}

/*Descri*/
#contenedor2 {
    padding-left: 40px;
    padding-right: 80px;
}

#contenedor3 {

    height: 265px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cont_descrip {
    border-width: 1px;
    border-style: solid;
    border-radius: 60px;
    padding-left: 40px;
    padding-right: 40px;
}

#titu_descrp {
    color: rgb(109, 108, 108);
    font-size: 20px;
    font-family: verdana;
    text-align: center;
}

#descrip {
    color: rgb(109, 108, 108);
    font-size: 15px;
    font-family: verdana;
}

/*El footer*/

/*pie de pagina de la pricipal*/

#titulofooter {
    color: rgb(109, 108, 108);
    font-size: 15px;
    font-family: verdana;
    text-align: center;
}

#piepagina {
    padding: 20px 0px 10px 0px;
    text-align: center;
}